<h3>タイムライン</h3>

<%  @gallery_posts.each do |gallery| %>
<div>
  <%= link_to gallery_path(gallery.id) do %>
    <%= image_tag gallery.gallery_image, size: "300x300"%>
  <% end %>
 <p>タイトル：<%= link_to gallery.title, gallery_path(gallery.id) %></p>
 <p>Uchinoko name：<%= link_to gallery.customer.name, customer_path(gallery.customer.id) %></p>
 <p><%= image_tag gallery.customer.get_profile_image(100,100) %></p>
  <p><%= link_to "#{gallery.gallery_comments.count} コメント", gallery_path(gallery.id) %></p>
</div>
<% end %>

<%  @lost_pet_posts.each do |lost_pet| %>
<div>
  <%= link_to lost_pet_path(lost_pet.id) do %>
    <%= image_tag lost_pet.lost_pet_image, size: "300x300"%>
  <% end %>
  <p>タイトル：<%= link_to lost_pet.title, lost_pet_path(lost_pet.id) %></p>
  <p>Uchinoko name：<%= link_to lost_pet.customer.name, customer_path(lost_pet.customer.id) %></p>
  <p><%= image_tag lost_pet.customer.get_profile_image(100,100) %></p>
  <p><%= link_to "#{lost_pet.lost_pet_comments.count} コメント", lost_pet_path(lost_pet.id) %></p>
</div>
<% end %>

<%  @foster_parent_posts.each do |foster_parent| %>
<div>
  <%= link_to foster_parent_path(foster_parent.id) do %>
    <%= image_tag foster_parent.foster_parent_image, size: "300x300"%>
  <% end %>
  <p>タイトル：<%= link_to foster_parent.title, foster_parent_path(foster_parent.id) %></p>
  <p>Uchinoko name：<%= link_to foster_parent.customer.name, customer_path(foster_parent.customer.id) %></p>
  <p><%= image_tag foster_parent.customer.get_profile_image(100,100) %></p>
  <p><%= link_to "#{foster_parent.foster_parent_comments.count} コメント", foster_parent_path(foster_parent.id) %></p>
</div>
<% end %>