<% if @customer == current_customer %>
<h2>マイプロフィール</h2>
<% else %>
<h2>ユーザープロフィール</h2>
<% end %>
<!-- ユーザーの詳細 -->
<div>
  <h3>
    ユーザーネーム
    <%= @customer.name %>
  </h3>
  <h3>
    住んでいる都道府県
    <%= @customer.address %>
  </h3>
    <%= image_tag @customer.get_profile_image(100,100) %>
    <%= link_to "いいねした投稿", favorites_customer_path(@customer) %>

    <% if current_customer.following?(@customer) %>
    <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete %>
    <% else %>
    <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post %>
    <% end %>

  <div>
    <%= link_to "フォロー一覧", customer_followings_path(@customer.id) %>
  </div>
  <div>
    <%= link_to "フォロワー一覧", customer_followers_path(@customer.id) %>
  </div>

<!--ログインしているユーザー本人であれば編集と退会を表示-->
  <% if @customer == current_customer %>
  <p><%= link_to "プロフィール編集", edit_customer_path(@customer.id) %></p>
  <%= link_to "退会する", customers_check_path, :class => "btn btn-danger ms-3" %>
  <% end %>
</div>

<!-- ユーザーのギャラリー投稿一覧 -->
<h3><%= @customer.name %>さんのギャラリー投稿一覧</h3>
<% if @galleries.exists? %>
<%  @galleries.each do |gallery| %>
<div>
  <%= link_to gallery_path(gallery.id) do %>
    <%= image_tag gallery.gallery_image, size: "300x300"%>
  <% end %>
 <p>タイトル：<%= link_to gallery.title, gallery_path(gallery.id) %></p>
  <p><%= link_to "#{gallery.gallery_comments.count} コメント", gallery_path(gallery.id) %></p>
</div>
<% end %>
<% else %>
  <p>投稿はありません</p>
<% end %>

<!-- ユーザーの迷子掲示板投稿一覧 -->
<h3><%= @customer.name %>さんの迷子掲示板投稿一覧</h3>
<% if @lost_pets.exists? %>
<%  @lost_pets.each do |lost_pet| %>
<div>
  <%= link_to lost_pet_path(lost_pet.id) do %>
    <%= image_tag lost_pet.lost_pet_image, size: "300x300"%>
  <% end %>
  <p>タイトル：<%= link_to lost_pet.title, lost_pet_path(lost_pet.id) %></p>
  <p><%= link_to "#{lost_pet.lost_pet_comments.count} コメント", lost_pet_path(lost_pet.id) %></p>
</div>
<% end %>
<% else %>
  <p>投稿はありません</p>
<% end %>

<!-- ユーザーの里親掲示板投稿一覧 -->
<h3><%= @customer.name %>さんの里親掲示板投稿一覧</h3>
<% if @foster_parents.exists? %>
<%  @foster_parents.each do |foster_parent| %>
<div>
  <%= link_to foster_parent_path(foster_parent.id) do %>
    <%= image_tag foster_parent.foster_parent_image, size: "300x300"%>
  <% end %>
  <p>タイトル：<%= link_to foster_parent.title, foster_parent_path(foster_parent.id) %></p>
  <p><%= link_to "#{foster_parent.foster_parent_comments.count} コメント", foster_parent_path(foster_parent.id) %></p>
</div>
<% end %>
<% else %>
  <p>投稿はありません</p>
<% end %>