<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>
      <i class="fas fa-paper-plane" style="color: #20b2aa;"></i>
      <%=@group.name %>のメンバーへメールを作成
      <i class="fas fa-paper-plane" style="color: #20b2aa;"></i>
    </h2>
    <%= form_with url: group_send_mail_path(@group),method: :get, local: true do |f| %>
    <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :mail_title,class:'form-control', placeholder: "例：オフ会開催のお知らせです♪"%>
        </div>
    <div class="form-group">
        <%=f.label:本文 %>
        <%= f.text_area :mail_content,class:'form-control',size: "30x5", placeholder: "例：来週末〇〇公園にてオフ会を開催することになりました！" %>
    </div>
    <div>
    <%= f.submit'送信' %>
    </div>
    <% end %>
    </div>
  </div>
</div>
