<h2 class="container text-center">
  <i class="fa-solid fa-newspaper" style="color: #20b2aa;"></i>
  コラム投稿詳細
  <i class="fa-solid fa-newspaper" style="color: #20b2aa;"></i>
</h2>
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <!--コラム画像表示-->
    <%= image_tag @article.article_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <p class="card-title">
            <!--コラムタイトル表示-->
            <strong><i class="fa-solid fa-newspaper"></i><span><%= @article.title %></span></strong>
          </p>
          <!--投稿本文表示-->
          <p class="card-text"><%= @article.body %></p>
          <span><i class="fa-solid fa-paper-plane"></i>投稿日：<%= @article.created_at.strftime('%Y/%m/%d') %></span>
          <hr>
          <span>
            <% if admin_signed_in? %>
            <button type="button" class="btn btn-outline-primary">
            <%= link_to "コラム編集", edit_admin_article_path(@article.id) %>
            </button>
            <button type="button" class="btn btn-outline-danger">
              <%= link_to "コラム削除", admin_article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </button>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>