<div class="container">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>
            <h3>
              <i class="fa-solid fa-cat" style="color: #20b2aa;"></i>
              <%= @customer.name %>さんの会員情報編集
              <i class="fa-solid fa-cat" style="color: #20b2aa;"></i>
            </h3>
          </th>
        </tr>
      </thead>
      <thead>
        <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local: true do |f| %>
        <% render "public/shared/error_messages", resource: @customer %>
        <tr>
          <th>ニックネーム</th>
          <td><%= f.text_field :name,autoforcus: true, autocomplete: "name",  placeholder: "ニックネーム" %></td>
        </tr>
        <tr>
          <th>住んでいる都道府県（任意）</th>
          <td><%= f.text_field :address,autoforcus: true, autocomplete: "address",  placeholder: "東京都" %></td>
        </tr>
        <tr>
          <th>自己紹介文</th>
          <td><%= f.text_area :introduction,autoforcus: true, autocomplete: "introduction", size: "30x5",  placeholder: "初めまして！" %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email,autoforcus: true, autocomplete: "email",  placeholder: "sample@exanple.com" %></td>
        </tr>
        <tr>
          <th><%= f.label :is_deleted, '会員ステータス' %></th>
          <td>
            <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_deleted, false, checked: @customer.is_deleted == false, class: 'custom-control-input', id: 'status-active' %>
            <%= f.label :is_deleted, '有効', class: 'custom-control-label', for: 'status-active' %>
            </div>
          </td>
          <td>
            <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_deleted, true, checked: @customer.is_deleted == true, class: 'custom-control-input', id: 'status-deleted' %>
            <%= f.label :is_deleted, '退会済み', class: 'custom-control-label', for: 'status-deleted' %>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </thead>
    </table>
  </div>
</div>