<h1>病院登録</h1>
<%= form_with model: @hospital, url: admin_hospitals_path, method: :post do |f| %>
<h4>病院名</h4>
  <%= f.text_field :name %>

  <h4>所在地</h4>
  <%= f.text_area :address %>

  <h4>電話番号</h4>
  <%= f.text_field :phone_number %>

  <h4>病院説明(得意治療の分野など)</h4>
  <%= f.text_area :explanation %>

 <p>
    <%= f.label :genre, 'ジャンル選択' %>
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
      <%= genre.label do %>
        <%= genre.check_box %>
        <%= genre.text %>
      <% end %>
    <% end %>
  </p>

  <h4>病院イメージ画像</h4>
  <%= f.file_field :hospital_image, accept: "image/*" %>

  <%= f.submit '登録' %>
<% end %>