<h2 class="container text-center">
  <i class="fa-solid fa-hospital" style="color: #20b2aa;"></i>
    病院登録詳細
  <i class="fa-solid fa-hospital" style="color: #20b2aa;"></i>
</h2>
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <!--病院イメージ画像表示-->
    <%= image_tag @hospital.hospital_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <p class="card-title">
            <!--病院名表示-->
            <strong><i class="fa-solid fa-hospital"></i><span><%= @hospital.name %></span></strong>
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" >
              <i class="fa-solid fa-map-pin"></i>所在地:<%= @hospital.address %>
            </li>
            <li class="list-group-item" >
              <i class="fa-solid fa-phone"></i>電話番号:<%= @hospital.address %>
            </li>
            <li class="list-group-item" >
              <i class="fa-solid fa-stethoscope"></i>ジャンル：
              <% @hospital.genres.each do |genre| %>
              <%= genre.name %>
              <% end %>
            </li>
          </ul>
          <hr>
          <!--投稿本文表示-->
          <p class="card-text">病院説明(特色など):<%= @hospital.explanation %></p>
          <hr>
          <span>
            <button type="button" class="btn btn-outline-primary">
              <%= link_to "編集", edit_admin_hospital_path(@hospital.id) %>
            </button>
            <button type="button" class="btn btn-outline-danger">
              <%= link_to "削除", admin_hospital_path(@hospital.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>