<%= link_to "里親掲示板へ投稿する", new_foster_parent_path %>

<h1>里親掲示板一覧</h1>

<% @foster_parents.each do |foster_parent| %>
  <p>ユーザーネーム：<%= link_to foster_parent.customer.name, customer_path(foster_parent.customer.id) %></p>
  <p>投稿ユーザー画像：<%= image_tag foster_parent.customer.get_profile_image(100,100) %></p>
  <p>タイトル</p>
  <span>
  <%= link_to foster_parent.title, foster_parent_path(foster_parent.id) %>
  </span>
  <p>画像</p>
  <%= image_tag foster_parent.foster_parent_image, size: "200x200" %>
  <p><%= link_to "#{foster_parent.foster_parent_comments.count} コメント", foster_parent_path(foster_parent.id) %></p>

<% end %>