<h1>里親掲示板一覧</h1>

<% @foster_parents.each do |foster_parent| %>
  <p>ユーザーネーム：<%= foster_parent.customer.name %></p>
  <p>投稿ユーザー画像：<%= image_tag foster_parent.customer.get_profile_image(100,100) %></p>
  <p>タイトル</p>
  <span>
  <%= link_to foster_parent.title, foster_parent_path(foster_parent.id) %>
  </span>
  <p>画像</p>
  <%= image_tag foster_parent.foster_parent_image, size: "200x200" %>

<% end %>

<h1>ギャラリー投稿</h1>
<%= form_with model: @foster_parent do |f| %>
<h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <h4>画像</h4>
  <%= f.file_field :foster_parent_image, accept: "image/*" %>

  <%= f.submit '投稿' %>
<% end %>