<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">迷子掲示板投稿編集</h5>
      <div class="form-body p-4">
        <% if @lost_pet.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <h6 class="alert-heading">
          <%= @lost_pet.errors.count %>件のエラーが発生しました
          </h6>
          <% @lost_pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
        <%= form_with model: @lost_pet, url: lost_pet_path(@lost_pet.id), method: :patch do |f| %>
        <%= f.file_field :lost_pet_image, accept: "image/*", class: "w-100" %>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-camera-retro"></i></span>
          </div>
          <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
        </div>
        <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"本文入力" %>
        <hr>
        <%= f.submit '変更内容保存', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>