<div class="container text-center" >
  <h1>
    <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
    迷子掲示板一覧
    <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
  </h1>
  <p style="color: #20b2aa;">迷子を探している方や迷子を見つけた方などで情報交換できます</p>

  <button type="button" class="btn btn-outline-info btn-lg">
    <i class="fa-solid fa-paper-plane"></i><%= link_to "迷子掲示板へ投稿する", new_lost_pet_path %>
  </button>

    <div class="card-deck" style="width:100rem">
      <% @lost_pets.each do |lost_pet| %>
        <div class="card w-25 mx-auto shadow-lg">
          <%= image_tag lost_pet.lost_pet_image, class:"card-img-top"; %>
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <%= image_tag lost_pet.customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
                </div>
                <div class="col-8">
                  <p class="card-title">
                    <strong><i class= "fa-solid fa-shoe-prints"></i><span><%= link_to lost_pet.title, lost_pet_path(lost_pet.id) %></span></strong>
                  </p>
                  <span><i class="fas fa-user"></i> By<%= link_to lost_pet.customer.name, customer_path(lost_pet.customer.id) %>｜ </span>
                  <span><%= link_to "#{lost_pet.lost_pet_comments.count} コメント", lost_pet_path(lost_pet.id) %></span>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
</div>