<%= link_to "迷子掲示板へ投稿する", new_lost_pet_path %>

<h1>迷子掲示板一覧</h1>

<% @lost_pets.each do |lost_pet| %>
  <p>ユーザーネーム：<%= link_to lost_pet.customer.name, customer_path(lost_pet.customer.id) %></p>
  <p>投稿ユーザー画像：<%= image_tag lost_pet.customer.get_profile_image(100,100) %></p>
  <p>タイトル</p>
  <span>
  <%= link_to lost_pet.title, lost_pet_path(lost_pet.id) %>
  </span>
  <p>画像</p>
  <%= image_tag lost_pet.lost_pet_image, size: "200x200" %>
  <p><%= link_to "#{lost_pet.lost_pet_comments.count} コメント", lost_pet_path(lost_pet.id) %></p>

<% end %>