<h2>迷子の掲示板詳細</h2>

<h2>タイトル</h2>
<p><%= @lost_pet.title %></p>

<h2>本文</h2>
<p><%= @lost_pet.body %></p>

<h2>画像</h2>
  <%= image_tag @lost_pet.lost_pet_image, size: "300x300" %>

<p>投稿日：<%= @lost_pet.created_at.strftime('%Y/%m/%d') %></p>
<p>Uchinoko name：<%= link_to @lost_pet.customer.name, customer_path(@lost_pet.customer.id) %></p>
<p><%= image_tag @lost_pet.customer.get_profile_image(100,100) %></p>

<div>
  <p>コメント件数：<%= @lost_pet.lost_pet_comments.count %></p>
  <% @lost_pet.lost_pet_comments.each do |lost_pet_comment| %>
    <p><%= image_tag lost_pet_comment.customer.get_profile_image(100,100) %></p>
    <%= lost_pet_comment.customer.name %>
    <%= lost_pet_comment.created_at.strftime('%Y/%m/%d') %><%= lost_pet_comment.comment %>
    <% if lost_pet_comment.customer == current_customer %>
      <%= link_to "削除", lost_pet_lost_pet_comment_path(lost_pet_comment.lost_pet, lost_pet_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@lost_pet, @lost_pet_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<% if @lost_pet.customer == current_customer %>
  <%= link_to "編集", edit_lost_pet_path(@lost_pet.id) %>
  <%= link_to "削除", lost_pet_path(@lost_pet.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<!--投稿につけられたお気に入りにログインしているユーザ(自分)が含まれているか判断するメソッド-->
<% if @lost_pet.favorited_by?(current_customer) %>
    <p>
      <%= link_to lost_pet_lost_pet_favorites_path(@lost_pet), method: :delete do %>
        ♥<%= @lost_pet.lost_pet_favorites.count %> お気に入り
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to lost_pet_lost_pet_favorites_path(@lost_pet), method: :post do %>
        ♡<%= @lost_pet.lost_pet_favorites.count %>  お気に入り
      <% end %>
    </p>
<% end %>