<%= link_to "ギャラリー投稿する", new_gallery_path %>

<h1>ギャラリー一覧</h1>

<% @galleries.each do |gallery| %>
  <p>ユーザーネーム：<%= link_to gallery.customer.name, customer_path(gallery.customer.id) %></p>
  <p>投稿ユーザー画像：<%= image_tag gallery.customer.get_profile_image(100,100) %></p>
  <p>タイトル</p>
  <span>
  <%= link_to gallery.title, gallery_path(gallery.id) %>
  </span>
  <p>画像</p>
  <%= image_tag gallery.gallery_image, size: "200x200" %>
  <p><%= link_to "#{gallery.gallery_comments.count} コメント", gallery_path(gallery.id) %></p>

<% end %>