<div class="container text-center" >
  <h1>
    <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
      ギャラリー一覧
    <i class="fa-solid fa-paw" style="color: #20b2aa;"></i>
  </h1>
  <p style="color: #20b2aa;">Uchinokoとの思い出を共有したりかわいいUchinokoを見せ合って交流できます</p>

  <button type="button" class="btn btn-outline-info btn-lg">
    <i class="fa-solid fa-paper-plane"></i><%= link_to "ギャラリーへ投稿する", new_gallery_path %>
  </button>

  <div class="card-deck" style="width:100rem">
    <% @galleries.each do |gallery| %>
      <div class="card mx-auto shadow-lg">
        <%= image_tag gallery.gallery_image, class:"card-img-top"; %>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <%= image_tag gallery.customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-8">
              <p class="card-title">
                <strong><i class= "fa-solid fa-camera-retro"></i><span><%= link_to gallery.title, gallery_path(gallery.id) %></span></strong>
              </p>
              <span><i class="fas fa-user"></i> By<%= link_to gallery.customer.name, customer_path(gallery.customer.id) %>｜ </span>
              <span><%= link_to "#{gallery.gallery_comments.count} コメント", gallery_path(gallery.id) %></span>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>

