<h2>ギャラリー投稿詳細</h2>

<h2>タイトル</h2>
<p><%= @gallery.title %></p>

<h2>本文</h2>
<p><%= @gallery.body %></p>

<h2>画像</h2>
  <%= image_tag @gallery.gallery_image, size: "300x300" %>

<p>投稿日：<%= @gallery.created_at.strftime('%Y/%m/%d') %></p>
<p>Uchinoko name：<%= link_to @gallery.customer.name, customer_path(@gallery.customer.id) %></p>
<p><%= image_tag @gallery.customer.get_profile_image(100,100) %></p>

<div>
  <p>コメント件数：<%= @gallery.gallery_comments.count %></p>
  <% @gallery.gallery_comments.each do |gallery_comment| %>
    <p><%= image_tag gallery_comment.customer.get_profile_image(100,100) %></p>
    <%= gallery_comment.customer.name %>
    <%= gallery_comment.created_at.strftime('%Y/%m/%d') %><%= gallery_comment.comment %>
    <% if gallery_comment.customer == current_customer %>
      <%= link_to "削除", gallery_gallery_comment_path(gallery_comment.gallery, gallery_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@gallery, @gallery_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<% if @gallery.customer == current_customer %>
<%= link_to "編集", edit_gallery_path(@gallery.id) %>
<%= link_to "削除", gallery_path(@gallery.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<!--投稿につけられたお気に入りにログインしているユーザ(自分)が含まれているか判断するメソッド-->
<% if @gallery.favorited_by?(current_customer) %>
    <p>
      <!--remote; trueの追加によりJavaScriptのリクエストがfavoritesコントローラへ送信される data: {"turbolinks" => false}がないとリロードしないといけなくなる-->
      <%= link_to gallery_gallery_favorites_path(@gallery), method: :delete, remote: true, data: {"turbolinks" => false} do %>
        ♥<%= @gallery.gallery_favorites.count %> お気に入り
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to gallery_gallery_favorites_path(@gallery), method: :post, remote: true, data: {"turbolinks" => false} do %>
        ♡<%= @gallery.gallery_favorites.count %>  お気に入り
      <% end %>
    </p>
<% end %>